<form action="<%= restaurants_url %>" method="post">
  <label for="restaurant_name">name</label>
  <input type="text" name="restaurant[name]" id="restaurant_name">

  <label for="restaurant_address">address</label>
  <input type="text" name="restaurant[address]" id="restaurant_address">

  <label for="restaurant_url">url</label>
  <input type="text" name="restaurant[url]" id="restaurant_url">

  <input type="submit" value="create">
</form>


