$green: #009900;

@mixin treasure-image($top, $left) {
  background-image: image-url("treasure_closed.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 150px;
  width: 150px;
  outline: none;
  position: absolute;
  top: $top;
  left: $left;
}

.treasure1 {
  @include treasure-image(75px, 100px);
}

.treasure2 {
  @include treasure-image(200px, 700px);
}

.treasure3 {
  @include treasure-image(75px, 500px);
}

.treasure-open {
  background-image: image-url("treasure_open.png");
}

.text {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  display: none;
  position: relative;
  bottom: 60px;
  text-align: center;
}
