// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$green: #80b280;

@mixin treasure-image($top, $left) {
  background-image: image-url("treasure.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 150px;
  width: 150px;
  position: absolute;
  top: $top;
  left: $left;
}

body {
  background-image: image-url("grass.png");
  background-repeat: repeat;
}

.treasure1 {
  @include treasure-image(20px, 100px);
}

.treasure2 {
  @include treasure-image(200px, 700px);
}

.text {
  display: none;
  color: white;
}